.login {
    margin:auto;
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;

}

h2 {
    color: goldenrod;
    font-family: sans-serif;
}

input {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 20px;
}

button {
    width: 220px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: goldenrod;
}
button:hover {
    font-size: 15px;
}

h1{
    text-align: center;

}
.tm{
    text-align: center;
}